/* --------HTML-------- */
body {
  background-color: lightgrey;
}

h1 {
  text-align: center;
  font-weight: bold;
  margin-top: 50px;
  margin-bottom: 50px;
}

img {
  max-width: 80%;
  align-items: center;
}

li {
  font-size: 18px;
}

/* --------CSS-------- */
.container {
  background-color: beige;
  margin-top: 40px;
}

.furnitureItem:hover {
  cursor: pointer;
}

.labelFontSize {
  font-weight: bold;
}

.lowerRow {
  border-top: 4px solid tan;
  padding-top: 25px;
}

.row {
  margin-bottom: 40px;
}

.type:hover {
  cursor: pointer;
}
